:root {
  --color-primary: #0d0d2b;
  --color-secondary: #2b076e;
  --color-tertiary: #fbfcfe;
  --color-accent: #3671e9;
  --color-neutral-grey-5: #e0e0e0;
  --color-neutral-grey-3: #828282;
  --color-neutral-grey-6: #f2f2f2;
  --color-neutral-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-neutral-white);
  text-decoration: none;
  cursor: pointer;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  /* border: 5px solid green; */
}

.content-container {
  /* border: 5px solid yellow; */
  padding: 20px 50px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper {
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-neutral-white);
  background-color: var(--color-primary);
}

.logo-container {
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.logo-text {
  width: 79px;
  height: 22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.nav-container {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Rubik';
  font-style: normal;
}

.nav-links {
  width: 325px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

.auth-links {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.hero-section-wrapper {
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-neutral-white);
  background-color: var(--color-primary);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-img {
  width: 510px;
}

.stats-section-wrapper {
  /* border: 5px solid blue; */
  padding: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-neutral-white);
  background-color: var(--color-primary);
}

.stats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat .body-text {
  margin: 0;
}

.product-descr-wrapper {
  /* border: 5px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-neutral-white);
  background-color: var(--color-primary);
}

.product-descr-img {
  width: 630px;
  padding-right: 30px;
}

.calculator-wrapper {
  /* border: 5px solid blue; */
  padding-top: 100px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-neutral-white);
  background: linear-gradient(
    to bottom,
    var(--color-primary) 0%,
    var(--color-primary) 61.65%,
    var(--color-tertiary) 61.65%,
    var(--color-tertiary) 100%
  );
}

.calculator-wrapper .content-container {
  flex-direction: column;
  justify-content: space-around;
}

.calculator-pane {
  width: 940px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.calculator-form {
  background-color: var(--color-tertiary);
  padding: 50px;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.hash-rate {
  width: 400px;
  background-color: inherit;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.hash-rate::placeholder {
  color: var(--color-primary);
}

.hash-type {
  width: 200px;
  background-color: inherit;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.hash-rate:focus,
.hash-type:focus {
  outline: none;
}

.calculator-revenue {
  background: var(--color-neutral-white);
  padding: 40px;
  border-radius: 0px 0px 16px 16px;
  text-align: left;
  box-shadow: 0px 40px 100px -95px #391777;
}

.calculator-revenue .heading-3 {
  color: var(--color-primary);
}

.calculator-revenue .body-text {
  margin: 10px 0;
}

.currencies-wrapper {
  /* border: 5px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  background-color: var(--color-tertiary);
}

.currencies-wrapper .content-container {
  flex-direction: column;
  justify-content: space-around;
}

.currencies-container {
  padding-top: 50px;
  padding-bottom: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency {
  width: 350px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: var(--color-neutral-white);
  border-radius: 16px;
  padding: 40px 24px;
}

.currency-descr .body-text {
  margin: 10px 0;
}

.currency-abbr {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #bdbdbd;
}

.currency-abbr.light {
  color: #ffffff;
  opacity: 0.7;
}

.currency.active {
  background-color: var(--color-secondary);
  color: var(--color-neutral-white);
}

/* utils start */
.btn {
  display: inline-block;
  padding: 16px 30px;
  border: none;
  border-radius: 32px;
  color: var(--color-neutral-white);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-accent);
}

.btn-secondary {
  background-color: var(--color-neutral-white);
  color: var(--color-primary);
}

.btn-chevron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 12px 24px;
}

.btn-text-r {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

.btn-text-s {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.body-text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: var(--color-neutral-grey-5);
  margin: 24px 0;
}

.body-text-center {
  text-align: center;
}

.body-text-primary {
  color: var(--color-primary);
}

.body-text-white {
  color: var(--color-neutral-white);
}

.body-text-accent {
  color: var(--color-accent);
}

.body-text-grey-3 {
  color: var(--color-neutral-grey-3);
}

.subtitle-accent {
  text-transform: uppercase;
  color: var(--color-accent);
}

.subtitle-dark {
  color: var(--color-neutral-white);
}

.subtitle-light {
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: var(--color-neutral-white);
  color: var(--color-primary);
  padding: 4px 16px;
  margin-right: 16px;
  border-radius: 32px;
}

.heading {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
}

.heading-1 {
  font-size: 64px;
  line-height: 76px;
  margin-top: 24px;
}

.heading-2 {
  font-size: 40px;
  line-height: 150%;
  margin-top: 24px 0;
}

.heading-3 {
  font-size: 32px;
  line-height: 150%;
}

.heading-center {
  text-align: center;
}

/* utils end */

/* icons start */

.icon-pipe {
  opacity: 0.3;
  color: var(--color-neutral-grey-6);
  font-size: 30px;
}

.icon-chevron-right::before {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 24px;
  border-radius: 50%;
  background-color: var(--color-neutral-white);
  color: var(--color-accent);
}

.icon-stat::before {
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.1);
  width: 80px;
  height: 80px;
  margin-right: 24px;
  align-items: center;
  justify-content: center;
  color: var(--color-accent);
  font-size: 40px;
  border-radius: 50%;
}

.icon-currency::before {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 45px;
}

.icon-bitcoin {
  background: linear-gradient(180deg, #f9aa4b -0.02%, #f7931a 99.99%);
}

.icon-ethereum {
  background: #1181e8;
  color: var(--color-neutral-white);
}

.icon-litecoin {
  background: #59c19c;
  color: var(--color-neutral-white);
}

/* icons end */
