:root {
  --color-primary: #0d0d2b;
  --color-secondary: #2b076e;
  --color-tertiary: #fbfcfe;
  --color-accent: #3671e9;
  --color-neutral-grey-5: #e0e0e0;
  --color-neutral-grey-3: #828282;
  --color-neutral-grey-6: #f2f2f2;
  --color-neutral-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-neutral-white);
  text-decoration: none;
  cursor: pointer;
}

.header-wrapper {
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-neutral-white);
  background-color: var(--color-primary);
}

.logo-container {
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.logo-text {
  width: 79px;
  height: 22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.nav-container {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Rubik';
  font-style: normal;
}

.nav-links {
  width: 325px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

.auth-links {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.hero-section-wrapper {
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-neutral-white);
  background-color: var(--color-primary);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-container img {
  width: 510px;
}

.stats-section-wrapper {
  border: 5px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-neutral-white);
  background-color: var(--color-primary);
}

.stats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat .body-text {
  margin: 0;
}

/*

.mg-tb-1 {
  margin: 12px 0;
}

.mg-tb-2 {
  margin: 24px 0;
}

.mg-lr-1 {
  margin: 0 11px;
}

.mg-lr-2 {
  margin: 0 22px;
}

.mg-lr-3 {
  margin: 0 33px;
}



.why {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.why .illustration {
  padding-right: 30px;
}

.calculator {
  text-align: center;
  background: linear-gradient(
    to bottom,
    var(--color-primary) 0%,
    var(--color-primary) 58%,
    var(--color-tertiary) 58%,
    var(--color-tertiary) 100%
  );
}

.calculator-pane {
  width: 940px;
  padding: 64px 0;
  margin: 0 auto;
  padding-bottom: 70px;
}

.calculator .calculator-form {
  background-color: var(--color-tertiary);
  padding: 49px 48px;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.calculator .calculator-form .hash-rate {
  width: 400px;
  background-color: inherit;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.calculator .calculator-form .hash-type {
  width: 200px;
  background-color: inherit;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.calculator .calculator-form .hash-rate:focus,
.calculator .calculator-form .hash-type:focus {
  outline: none;
}

.calculator .revenue {
  padding: 52px;
  border-radius: 0px 0px 16px 16px;
  background: #ffffff;
  text-align: left;
  box-shadow: 0px 40px 100px -95px #391777;
}

.currencies {
  padding: 0 40px;
  background-color: var(--color-tertiary);
  text-align: center;
} */

/* utils start */
.top-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  border: 5px solid green;
}

.content-container {
  border: 5px solid yellow;
  padding: 20px 50px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  padding: 16px 30px;
  border: none;
  border-radius: 32px;
  color: var(--color-neutral-white);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-accent);
}

.btn-secondary {
  background-color: var(--color-neutral-white);
  color: var(--color-primary);
}

.btn-chevron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 12px 24px;
}

.btn-text-r {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

.btn-text-s {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.body-text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: var(--color-neutral-grey-5);
  margin: 24px 0;
}

.body-text-primary {
  color: #0d0d2b;
}

.body-text-accent {
  color: var(--color-accent);
}

.body-text-grey-3 {
  color: var(--color-neutral-grey-3);
}

.subtitle-accent {
  text-transform: uppercase;
  color: var(--color-accent);
}

.subtitle-dark {
  color: var(--color-neutral-white);
}

.subtitle-light {
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: var(--color-neutral-white);
  color: var(--color-primary);
  padding: 4px 16px;
  margin-right: 16px;
  border-radius: 32px;
}

.heading {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  color: var(--color-neutral-white);
}

.heading-1 {
  font-size: 64px;
  line-height: 76px;
  margin-top: 24px;
}

.heading-2 {
  font-size: 40px;
  line-height: 150%;
  margin-top: 24px 0;
}

.heading-3 {
  font-size: 32px;
  line-height: 150%;
}

/* utils end */

/* icons start */

.icon-pipe {
  opacity: 0.3;
  color: var(--color-neutral-grey-6);
  font-size: 30px;
}

.icon-chevron-right::before {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 24px;
  border-radius: 50%;
  background-color: var(--color-neutral-white);
  color: var(--color-accent);
}

.icon-stat::before {
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.1);
  width: 80px;
  height: 80px;
  margin-right: 24px;
  align-items: center;
  justify-content: center;
  color: var(--color-accent);
  font-size: 40px;
  border-radius: 50%;
}

/* icons end */
