:root {
  --color-primary: #0d0d2b;
  --color-secondary: #2b076e;
  --color-tertiary: #fbfcfe;
  --color-accent: #3671e9;
  --color-neutral-grey-5: #e0e0e0;
  --color-neutral-grey-3: #828282;
  --color-neutral-grey-6: #f2f2f2;
  --color-neutral-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1200px;
  margin: 40px auto;
  background-color: var(--color-primary);
}

ul {
  list-style: none;
}

a {
  color: var(--color-neutral-white);
  text-decoration: none;
  cursor: pointer;
}

.mg-tb-1 {
  margin: 12px 0;
}

.mg-tb-2 {
  margin: 24px 0;
}

.mg-lr-1 {
  margin: 0 11px;
}

.mg-lr-2 {
  margin: 0 22px;
}

.mg-lr-3 {
  margin: 0 33px;
}

.heading {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  color: var(--color-neutral-white);
}

.heading-1 {
  font-size: 64px;
  line-height: 76px;
  margin-top: 24px;
}

.heading-2 {
  font-size: 40px;
  line-height: 150%;
  margin-top: 24px 0;
}

.heading-3 {
  font-size: 32px;
  line-height: 150%;
}

.text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: var(--color-neutral-grey-5);
}

.btn {
  display: inline-block;
  padding: 16px 30px;
  border: none;
  border-radius: 32px;
  color: var(--color-neutral-white);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-accent);
}

.btn-secondary {
  background-color: var(--color-neutral-white);
  color: var(--color-primary);
}

.btn-chevron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 12px 24px;
}

.btn-text-r {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

.btn-text-s {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.fa-chevron-right {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 24px;
  border-radius: 50%;
  background-color: var(--color-neutral-white);
  color: var(--color-accent);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-neutral-white);
}

header .logo-container {
  display: flex;
  width: 135px;
  align-items: center;
  justify-content: space-between;
}

header .logo-img {
  width: 40px;
  height: 40px;
}

header .logo-text {
  width: 79px;
  height: 22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

header .nav-container {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

header .nav-container .nav-links {
  width: 339px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

header .nav-container .auth-links {
  width: 221px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

header .nav-container .auth-links .divider {
  opacity: 0.3;
}

/* remove eventually */
main {
  color: var(--color-neutral-white);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.hero .subtitle {
  display: inline;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 11px 7px 4px;
  border-radius: 32px;
}

.hero .subtitle .text-subtitle-dark {
  color: var(--color-neutral-white);
}

.hero .subtitle .text-subtitle-light {
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: var(--color-neutral-white);
  color: var(--color-primary);
  padding: 4px 16px;
  margin-right: 16px;
  border-radius: 32px;
}

.stats {
  margin: 100px auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}

.numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1150px;
  margin: 50px auto;
}

.number-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number-icon {
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.1);
  width: 80px;
  height: 80px;
  margin-right: 24px;
  align-items: center;
  justify-content: center;
  color: var(--color-accent);
  font-size: 40px;
  border-radius: 50%;
}

.why {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.why .illustration {
  margin-right: 30px;
}
